@include font-face("mee", font-files("mee.ttf", "mee.otf", "mee.eot", "mee.svg"));

.mee-wrapper{
  .mee-textarea-wrapper{
    .mee-textarea{
      border:0;
      background:rgb(41,41,41);
      font-family:monospace;
      font-size:14px;
      color:#ddd;
      line-height:1.35em;
      margin-bottom:0;
      resize:none;
      vertical-align: top;
      -webkit-transition: height 0.2s;
      -moz-transition: height 0.2s;
      transition: height 0.2s;
    }
  }
  .mee-toolbar{
    margin:0 0 5px;
    padding:8px;
    background:#3f3f3f;
    @include border-radius(5px);

    label{
      font-size:9.5px;
      line-height:normal;
      text-shadow: 0 1px 0 #fff;
      text-transform: uppercase;
      font-weight: bold;
      margin:0;
      padding:0 0 0 5px;
      color:#9c9c9c;
    }
    label{
      color:#bfbfbf;
      text-shadow: 0 -1px 0 #000;
    }
    &.labels-hide label{
      display:none;
    }
    .mee-group{
      display:inline-block;
    }
    .mee-group + .mee-group{
      margin-left:5px;
    }
  }
  .mee-clear{
    clear:both;
  }
  .mee-preview{
    display:block;
    width:100%;
    border:none;
    @include border-radius(5px);
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
  }
  .mee-border{
    padding:0;
  }
  .mee-editor-inner{
    padding:8px;
  }
}

/**
 * Iframe
 */
.mee-iframe{
  margin:0;
  padding:0;
  background:#fff;
  #mee-iframe-content{
    padding:10px;
  }
}

/**
 * Views
 */
.mee-view-split{
  .mee-textarea-wrapper{
    width: 49%;
    float:left;
  }
  .mee-preview-wrapper{
    width:50%;
    padding-left:1%;
    float:left;
  }
}

/**
 * Widget
 */
// .mee-widget{
//   position:fixed;
//   top:0;
//   bottom:0;
//   left:0;
//   right:0;
//   background:rgba(245,245,245,.95);

//   .mee-widget-inner{
//     width:600px;
//     margin:0 auto;
//     padding:60px 0;
//   }
// }
.mee-widget{
  padding: 8px;
  position: relative;
  z-index: 1000;

  .mee-widget-inner{
    background:#3f3f3f;
    @include border-radius(5px);
    padding:8px;
    color:#fff;
  }

  .mee-widget-header{
    h3{
      color:#F4F4F4;
      margin:0;
      font-size:24px;
      line-height:24px;
    }
  }
}

/**
 * Fullscreen
 */
:-webkit-full-screen,
:-moz-full-screen {
  background: #292929;
}

.mee-full{
  background: #d0d0d0;
  position:relative;

  .mee-wrapper-inner{
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    bottom:-10px;
    margin:0;

    .mee-border{
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
    }

    .mee-textarea-wrapper{
      position:absolute;
      top:55px;
      left:8px;
      bottom:8px;
      margin:0;
      padding:0;
      width:49%;

      .mee-textarea{
        margin:0;
        padding:0;
        width:100% !important;
        height:100% !important;
        resize: vertical !important;
        overflow: auto !important;
        // @include border-radius(0);
      }
    }

    .mee-preview-wrapper{
      position:absolute;
      top:55px;
      right:8px;
      bottom:8px;
      margin:0;
      padding:0;
      width:49%;

      .mee-preview{
        margin:0;
        width:100% !important;
        height:100% !important;
        // @include border-radius(0);
      }
    }
  }
}

/**
 * Icons
 */
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "mee";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mee-quote:before { content: '\e806'; } /* '' */
.icon-mee-rule:before { content: '\e808'; } /* '' */
.icon-mee-image:before { content: '\e804'; } /* '' */
.icon-mee-bold:before { content: '\e800'; } /* '' */
.icon-mee-italic:before { content: '\e801'; } /* '' */
.icon-mee-heading:before { content: '\e80a'; } /* '' */
.icon-mee-fullscreen:before { content: '\e809'; } /* '' */
.icon-mee-ul:before { content: '\e802'; } /* '' */
.icon-mee-ol:before { content: '\e803'; } /* '' */
.icon-mee-code:before { content: '\e807'; } /* '' */
.icon-mee-link:before { content: '\e805'; } /* '' */
