/**
 * Widget
 */

.mee-widget-cover {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
  background: rgba(237,234,234,.98);
  @include opacity(0);
}

.mee-widget{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: fixed;
  width: 760px;
  height: 460px;
  left: 50%;
  top: 50%;
  margin: -300px 0 0 -400px;
  z-index: 2002;
  padding: 20px;
  //background: white;
  //@include box-shadow(0px 0px 20px rgba( 0, 0, 0, 0.6 ));
  //@include border-radius(3px);
  @include opacity(0);

  .ajax-progress{
    position:absolute;
    z-index:20;
    background:rgba(0,0,0,.5);
    top:0;
    left:0;
    right:0;
    bottom:0;
    color:transparent;

    .throbber{
      background:none;
      position:absolute;
      top:50%;
      left:50%;
      margin-left:-.6em;
      margin-top:-.6em;
    }

    .throbber:before {
      font-family: "mee";
      color:#fff;
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      text-align: center;
      /* opacity: .8; */
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      content: '\e80b';
      -moz-animation: spin 2s infinite linear;
      -o-animation: spin 2s infinite linear;
      -webkit-animation: spin 2s infinite linear;
      animation: spin 2s infinite linear;
    }
  }

  h3{
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
    color:#767676;
    margin-top:0;

    strong{
      color:#656565;
    }
  }

  .mee-widget-inner{
    position:relative;
  }

  .mee-widget-header{
    height: 50px;
  }

  .mee-widget-title{
    font-size:14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight:200;
    color:#B6B4B4;
  }

  .mee-widget-content{
    max-height:360px;
    overflow-y:auto;
  }

  .mee-widget-footer,
  .form-actions{
    height:30px;
    padding:10px;
    overflow:hidden;
    background:#fff;
  }

  form{
    margin:0;
    padding-bottom:50px;

    fieldset{
      background:none;
    }

    legend{
      margin-bottom:0;
    }

    .fieldset-legend{
      position:static;
    }

    .form-actions{
      position:absolute;
      left:0;
      right:0;
      bottom:0;
      margin:0;
      z-index: 102;

      input{
        margin:0;
      }
    }
  }

  &.mee-widget-expanded{
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:auto;
    height:auto;

    .mee-widget-content{
      max-height:none;
      overflow-y:auto;
    }

    .mee-widget-footer{
      position:absolute;
      bottom:0;
      left:0;
      right:0;
      z-index: 100;
    }
  }
}

.mee-widget-cover,
.mee-widget{
  @include transition(.5s all cubic-bezier(0.250, 0.460, 0.450, 0.940));
}

html.mee-widget-active{

  .mee-widget-cover{
    @include opacity(100);
  }

  .mee-widget{
    @include opacity(100);
    margin-top:-250px;

    &.mee-widget-expanded{
      margin:0;
    }
  }
}
